#!/bin/bash

function config_control() {
  case $1 in
  baseline)
    shift
    "config_${OS_STANDARD_NAME}" "$@"
    ;;
  *)
    std_prtmsg ERROR "invalid module: \"$1\""
    exit 255
    ;;
  esac
}
