#!/bin/bash
# shellcheck disable=SC2068
function verify_control() {
  case $1 in
  baseline)
    shift
    verify_baseline $@
    ;;
  hostname)
    shift
    verify_hostname
    ;;
  *)
    std_prtmsg FERR "invalid module: \"$1\""
    exit 255
    ;;
  esac
}

