#!/bin/bash

function verify_control() {
  case $1 in
  baseline)
    shift

    ;;
  hostname)
    shift
    verify_hostname
    ;;
  *)
    std_prtmsg FERR "invalid module: \"$1\""
    exit 255
    ;;
  esac
}

